# ignore the data directory, but not the pickle file
data/cifar10/
data/cifar100/
data/SVHN/
data/svhn/
!*/data/cifar10_test_relative_softmax_averages.pickle


# ignore directories
.idea/
__pycache__/
utils/__pycache__/
visualization/__pycache__/
runs/
experiments/
utils/models/saved_models/
_save/
saved_models/
figures/


# ignore files
test.py
console_output
model_20221026_143350_0
bash_trainer.sh


